{% extends "base.html" %}
{% block title %}{{ object.url }} | Ads maker{% endblock %}
{% block content %}

  <h1>{{ object.url }}</h1>
  <h6 class="card-subtitle mb-2 text-muted">Status: {{ object.status }}</h6>
  <p class="lead">{{ object.short_desc }}</p>
  <p><small>Created: {{ object.created_at }}</small></p>
  <p><small>Updated: {{ object.updated_at }}</small></p>

  <form method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-primary" name="parse-sitemaps">Get PAGES</button>
  <button type="submit" class="btn btn-secondary" name="update">Get INFO</button>
  </form>

  <ul class="list-group mt-3">
  {% for sitemap in object.sitemaps.all %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
    {{ sitemap.url }}
    <span class="badge badge-primary badge-pill">{{ sitemap.count }}</span>
    </li>
  {% endfor %}
  </ul>

{% endblock %}
