django
pytz==2020.4              # via django
sqlparse==0.4.1           # via django

django-modeltranslation

# sorl-thumbnail==12.6.3    # images
pillow                      # images

django-environ            #.env file manager

psycopg2-binary           # database engine

# 4 ads_maker
requests                  # requests
beautifulsoup4            # beautifulsoup
lxml                      # via beautifulsoup
