{% extends "base.html" %}
{% load static i18n %}
{% load thumbnail %}

{% block content %}
  <link rel="preload" href="{% static '/my/cv-detail.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;1,400;1,600&display=swap" rel="stylesheet">

  <article class="cv">
    <section class="cv-header">
      <h1 class="cv-h1">Кромм Владимир</h1>
      <h3 class="cv-subheader">{{ cv.position }}</h3>
      <div class="cv-header-icon">
        <i class="far fa-envelope"></i>
        <a href="mailto:wladimir@kromm.info">wladimir@kromm.info</a>
      </div>
      <div class="cv-header-icon">
        <i class="fas fa-phone"></i>
        <a href="tel:+79130073119">+7-913-007-3119</a>
      </div>
      <div class="cv-header-icon">
        <i class="fas fa-map-marker-alt"></i>
        <p>Berlin, DE</p>
      </div>
      <div class="cv-header-icon">
        <i class="fab fa-linkedin"></i>
        <a href="https://www.linkedin.com/in/vkromm/?locale=en_US">LinkedIn</a>
      </div>
      <div class="cv-header-icon">
        <i class="fab fa-github-square"></i>
        <a href="https://github.com/abi83">GitHub</a>
      </div>
    </section>
    <section class="cv-secondary">
      <div class="cv-section">
        <h2 class="cv-h2">Образование</h2>
        {% for uni in cv.education.all %}
          <h3 class="cv-subheader">{{ uni.name }}</h3>
          <p class="common">{{ uni.degree }}</p>
          <p class="common">{{ uni.start_date|date:'Y' }} - {{ uni.end_date|date:'Y' }}</p>
        {% endfor %}
      </div>
    </section>
    <section class="cv-main">
      <div class="cv-section">
        <h2 class="cv-h2">Пояснения</h2>
        <p class="common">
          Какойто текст фждвлао фдлвоыар фдлыовар дфлоывр адфлоывр адлфовр адлфо жфдлвоа жфдлов а
          жфдвло афдловр адфловр адфловр ажфдлов ыжадлфо вждлоа длфовр лоап фжывлдао ждфлыов аждфлыв о
          жыловр адфовыр жалдфо ывдоа фдыжвлоа рфдопр ж р
        </p>
      </div>
      <div class="cv-section">
        <h2 class="cv-h2">Опыт работы</h2>
        {% for job in cv.jobs.all %}
          <h3 class="cv-subheader">{{ job.name }}</h3>
          <p class="common">{{ job.start_date|date:'Y' }} - {{ job.end_date|date:'Y' }}</p>
          <p class="common">{{ job.position }}</p>
          {{ job.description|safe }}
        {% endfor %}
      </div>
    </section>
  </article>

{% endblock %}