{% extends "base.html" %}
{% load static i18n %}
{% load thumbnail %}

{% block content %}
  <link rel="preload" href="{% static '/my/cv-detail.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">

  <article class="cv">
    <div class="cv-header">
      Кромм Владимир
      {{ cv.position }}
    </div>
    <div class="cv-secondary">
      Образование
    </div>
    <div class="cv-main">
      {% for job in cv.jobs.all %}
        {{ job.name }}
      {% endfor %}
      <p>
        Куча разного текста Куча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текста
        Куча разного текста Куча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текста
        Куча разного текста Куча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текста
        Куча разного текста Куча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текста
        Куча разного текста Куча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текстаКуча разного текста
      </p>
    </div>
  </article>

{% endblock %}