{% extends "base.html" %}
{% load static i18n %}
{% load thumbnail %}

{% block content %}
  <link rel="preload" href="{% static '/my/cv-detail.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;1,400;1,600&display=swap" rel="stylesheet">

  <!--html 2 pdf-->
  <script src="{% static 'my/html2pdf.bundle.min.js' %}"></script>

  <script type="text/javascript">
    window.addEventListener("load", function () {
      document.getElementById('download-button')
        .addEventListener('click', async () => {
          const cv = document.querySelector('.cv');
          const options = {
            margin: 0,
            filename: 'WladimirKromm-CV.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'in',
              format: 'a4',
              orientation: 'portrait' }
          };
          cv.style.fontSize = '11px';
          await html2pdf()
            .from(cv)
            .set(options)
            .save(options.filename, {returnPromise: true});
          cv.style.fontSize = '14px';
          })
    })
  </script>

  <button class="btn btn-primary" id="download-button">Download</button>
  <div class="cv-wrapper">
    <article class="cv">
    <section class="cv-header">
      <h1 class="cv-h1">Кромм Владимир</h1>
      <h3 class="cv-subheader">{{ cv.position }}</h3>
      <div class="cv-header-icon">
        <i class="far fa-envelope"></i>
        <a href="mailto:wladimir@kromm.info">wladimir@kromm.info</a>
      </div>
      <div class="cv-header-icon">
        <i class="fas fa-phone"></i>
        <a href="tel:+79130073119">+7-913-007-3119</a>
      </div>
      <div class="cv-header-icon">
        <i class="fas fa-map-marker-alt"></i>
        <p>Berlin, DE</p>
      </div>
      <div class="cv-header-icon">
        <i class="fab fa-linkedin"></i>
        <a href="https://www.linkedin.com/in/vkromm/?locale=en_US">LinkedIn.com/in/vkromm/</a>
      </div>
      <div class="cv-header-icon">
        <i class="fab fa-github-square"></i>
        <a href="https://github.com/abi83">GitHub.com/abi83</a>
      </div>
    </section>
    <section class="cv-secondary">
      <div class="cv-section">
        <link rel="preload" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"></noscript>
        <h2 class="cv-h2">Скилы</h2>
        {% for skill in cv.skills.all %}
          <div class="d-flex justify-content-between mt-4">
            <div>
              <p class="common"><b>{{ skill }}</b></p>
            </div>
            <div>
              {% for rank in '12345'|make_list %}
                {% if rank <= skill.rank|slugify %}
                  <i class="fas fa-star"></i>
                {% else %}
                  <i class="far fa-star"></i>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <p class="common">{{ skill.description }}</p>
        {% endfor %}
      </div>
      <div class="cv-section">
        <h2 class="cv-h2">Обо мне</h2>
        <div class="row mb-4">
          <div class="col-3">
            <i class="fas fa-basketball-ball fa-3x"></i>
          </div>
          <div class="col-9">
            <p class="common">Люблю баскетбол и Евролигу</p>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-3">
            <i class="fas fa-skiing fa-3x"></i>
          </div>
          <div class="col-9">
            <p class="common">Хорошо катаюсь на горных лыжах</p>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-3">
            <i class="far fa-snowflake fa-3x"></i>
          </div>
          <div class="col-9">
            <p class="common">20 лет прожил в Сибири, поэтому не боюсь трудностей</p>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-3">
            <i class="fas fa-child fa-3x"></i>
          </div>
          <div class="col-9">
            <p class="common">У меня трое детей. И я их очень люблю</p>
          </div>
        </div>
      </div>
    </section>
    <section class="cv-main">
      <div class="cv-section">
        <h2 class="cv-h2">Кратко</h2>
        <p class="common">
          {{ cv.text }}
        </p>
      </div>
      <div class="cv-section">
        <h2 class="cv-h2">Образование</h2>
        {% for uni in cv.education.all %}
          <h3 class="cv-subheader">{{ uni.name }}</h3>
          <p class="common"><b>{{ uni.degree }}</b></p>
          <div class="cv-header-icon">
            <i class="far fa-calendar-alt"></i>
            <p class="common">{{ uni.start_date|date:'M.Y' }} - {{ uni.end_date|date:'M.Y' }}</p>
          </div>
          <div class="common">{{ uni.description|safe }}</div>
        {% endfor %}
      </div>
      <div class="cv-section">
        <h2 class="cv-h2">Опыт работы</h2>
        {% for job in cv.jobs.all %}
          <h3 class="cv-subheader"><b>{{ job.name }}</b></h3>
          <p class="common"><b>{{ job.position }}</b></p>
          <div class="cv-header-icon">
            <i class="far fa-calendar-alt"></i>
            <p class="common">{{ job.start_date|date:'M.Y' }} - {{ job.end_date|date:'M.Y' }}</p>
          </div>
          <div class="common">{{ job.description|safe }}</div>
        {% endfor %}
      </div>
    </section>
  </article>
  </div>
{% endblock %}