{% extends "base.html" %}
{% load static i18n %}
{% load thumbnail %}

{% block content %}

  <div class="container">

    <h1 class="project-title">{{ project.title }}</h1>
    <p class="my-2">{{ project.short_desc }}</p>

    <div class="row">

      <div class="col-lg-8">

        <div id="proj-img-carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators" >
            {% for image in project.images.all %}
              <li data-target="#proj-img-carousel" data-slide-to="{{ forloop.counter0	 }}" {% if forloop.first %}class="active"{% endif %} style="background-color: green;"></li>
            {% endfor %}
          </ol>
          <div class="carousel-inner">
              {% for image in project.images.all %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  {% thumbnail image.file "700x500" crop="center" as im %}
                  <img src="{{ im.url }}" class="d-block w-100 shadow-sm" title="{{ image.title|default_if_none:'' }}" alt="{{ image.description|default_if_none:'' }}">
                  {% endthumbnail %}
                  <div class="carousel-caption d-none d-md-block" style="background-color: rgba(255, 255, 255, .8);">
                  <h5>{{ image.title|default_if_none:'Скриншот' }}</h5>
                  <p class="sm-l">{{ image.description|default_if_none:'' }}</p>
                  </div>
                </div>
              {% endfor %}
          </div>
        </div>

      </div>

      <div class="col-lg-4 text-justify">
        {% if project.role %}
          <p class="mb-auto text-justify"><strong>Роль</strong>: {{ project.role }} </p>
        {% endif %}
        <p class="mb-auto text-justify"><strong>Период</strong>: {{ project.start_date|date:"M Y" }} - {{ project.end_date|date:"M Y" }}</p>
        {% if project.url %}
          <p class="mb-auto text-justify"><strong>Ссылка</strong>: <a class="link" href="{{ project.url }}">{{ project.url }}</a></p>
        {% endif %}
      </div>

    </div>
    <div class="row">
      <p class="my-4 text-justify"> {{ project.description|safe }} </p>
    </div>

    <div class="row">
      <nav aria-label="Переключение страниц">
        <ul class="pagination">
          {% if previous %}
          <li class="page-item"><a class="btn btn-outline-success" href="{% url 'project-detail' pk=previous.pk %}">&laquo; Предыдущий</a></li>
          {% endif %}
          {% if next %}
          <li class="page-item"><a class="btn btn-outline-success" href="{% url 'project-detail' pk=next.pk %}">Следующий &raquo;</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>

{% endblock %}