.common{
  font-size: 1em;
  text-align: justify;
  margin-bottom: 0;
}
div.common p, li{
  font-size: 1em;
  text-align: justify;
  margin-bottom: 0;
}
b{
  font-weight: bold;
}
.cv-wrapper{
  border: 1px inset black;
  max-width: 960px;
  width: 100%;
  margin: auto;
}
.cv{
  /*display: grid;*/
  /*grid-template-areas:*/
  /*  "cv-image cv-main"*/
  /*  "cv-header cv-main"*/
  /*  "cv-secondary cv-main";*/
  /*grid-template-rows: 7fr 4fr 20fr;*/
  /*grid-template-columns: 4fr 8fr;*/
  font-family: 'Bitter', serif;
  font-size: 16px;
}
.cv-header{
  background-color: #333333;
  color: white;
  padding: 1.5em;
  /*grid-area: cv-header;*/
}
.cv-section{
  margin-bottom: 2.5em;
  break-inside: avoid;
  padding: 1.5em;
}
.cv-h1{
  color: inherit;
  font-size: 2.25em;
  text-align: left;
}
.cv-h2{
  color: #333333;
  font-size: 1.8em;
  text-align: left;
}
.cv-subheader{
  font-size: 1.5em;
  font-style: oblique;
  text-align: left;
  color: inherit;
  text-transform: inherit;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}
.cv-header-icon{
  display: flex;
}
.cv-header-icon>a{
  font-size: 1em;
  color: inherit;
}
.cv-header-icon>p{
  margin: auto 1em auto 0;
  font-size: 1em;
}
.cv-header-icon>i{
  margin: auto 1em auto 0;
}

@media print {
  header, footer{
    display: none;
  }
}
@media all and (max-width: 575px) {
  .cv{
    /*grid-template-areas:*/
    /*  "cv-header"*/
    /*  "cv-main"*/
    /*  "cv-secondary";*/
    /*grid-template-rows: max-content;*/
    /*grid-template-columns: 1fr;*/
  }
}