.common{
  font-size: 1em;
  text-align: justify;
  margin-bottom: 0;
}
.col-4{
  padding-right: 0;
}
div.common p, li{
  font-size: 1em;
  text-align: justify;
  margin-bottom: 0;
}
b{
  font-weight: bold;
}
ul{
  margin-bottom: 0;
}
.cv-wrapper{
  border: 1px inset black;
  max-width: 960px;
  width: 100%;
  margin: auto;
}
.cv{
  font-family: 'Bitter', serif;
  font-size: 16px;
}
.cv-header{
  background-color: #333333;
  color: white;
  padding: 1em;
}
.cv-section{
  /*margin-bottom: 2.0em;*/
  padding: 1em 1em 0 1em;
}
.cv-unit{
  break-inside: avoid;
}
.cv-h1{
  color: inherit;
  font-size: 2.25em;
  text-align: left;
}
.cv-h2{
  color: #333333;
  font-size: 1.8em;
  text-align: left;
  margin-bottom: 0.5em;
}
.cv-subheader{
  font-size: 1.5em;
  font-style: oblique;
  text-align: left;
  color: inherit;
  text-transform: inherit;
  margin-bottom: 0.5em;
  margin-top: 1.0em;
}
.cv-header-icon{
  display: flex;
}
.cv-header-icon>a{
  font-size: 1em;
  color: inherit;
}
.cv-header-icon>p{
  margin: auto 1em auto 0;
  font-size: 1em;
}
.cv-header-icon>i{
  margin: auto 1em auto 0;
}

@media print {
  header, footer{
    display: none;
  }
}