p{
  font-size: 1.1rem;
}

.lead{
  font-size: 1.4rem;
}

/* index page banner  */
.jumbotron {
  min-height: 80vh;
  background-image: url(/static/002.jpg);
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.overlay {
  min-height: 80vh;
  padding: 10%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .9);
}

h3{
margin-bottom: 30px;
}

h2{
margin-bottom: 0.75em;
}

/* django messages */
.dj-message {
position: fixed;
min-width: 30em;
left: 10%;
right: 10%;
z-index: 1;
}

/* index_page projects cards*/
.sh:hover{
  transition:.5s;
  box-shadow: 10px 10px 5px #888888;
}