/css/autocomplete.css
/.gitignore
/js/actions.js
/js/actions.min.js
/js/vendor/select2/i18n/af.js
/js/vendor/select2/i18n/ar.js
/js/autocomplete.js
/js/vendor/select2/i18n/az.js
/css/base.css
/js/vendor/select2/i18n/bg.js
/js/vendor/select2/i18n/bn.js
/js/vendor/select2/i18n/bs.js
/js/vendor/select2/i18n/ca.js
/js/calendar.js
/img/calendar-icons.svg
/js/cancel.js
/js/change_form.js
/css/changelists.css
/js/collapse.js
/js/collapse.min.js
/js/core.js
/js/vendor/select2/i18n/cs.js
/js/vendor/select2/i18n/da.js
/css/dashboard.css
/js/admin/DateTimeShortcuts.js
/js/vendor/select2/i18n/de.js
/js/vendor/select2/i18n/dsb.js
/js/vendor/select2/i18n/el.js
/js/vendor/select2/i18n/en.js
/js/vendor/select2/i18n/es.js
/js/vendor/select2/i18n/et.js
/js/vendor/select2/i18n/eu.js
/js/vendor/select2/i18n/fa.js
/js/vendor/select2/i18n/fi.js
/css/fonts.css
/css/forms.css
/js/vendor/select2/i18n/fr.js
/js/vendor/select2/i18n/gl.js
/js/vendor/select2/i18n/he.js
/js/vendor/select2/i18n/hi.js
/js/vendor/select2/i18n/hr.js
/js/vendor/select2/i18n/hsb.js
/js/vendor/select2/i18n/hu.js
/js/vendor/select2/i18n/hy.js
/img/icon-addlink.svg
/img/icon-alert.svg
/img/icon-calendar.svg
/img/icon-changelink.svg
/img/icon-clock.svg
/img/icon-deletelink.svg
/img/icon-no.svg
/img/icon-unknown.svg
/img/icon-unknown-alt.svg
/img/icon-viewlink.svg
/img/icon-yes.svg
/js/vendor/select2/i18n/id.js
/img/inline-delete.svg
/js/inlines.js
/js/inlines.min.js
/js/vendor/select2/i18n/is.js
/js/vendor/select2/i18n/it.js
/js/vendor/select2/i18n/ja.js
/js/jquery.init.js
/js/vendor/jquery/jquery.js
/js/vendor/jquery/jquery.min.js
/js/vendor/select2/i18n/ka.js
/js/vendor/select2/i18n/km.js
/js/vendor/select2/i18n/ko.js
/img/LICENSE
/js/vendor/select2/LICENSE.md
/fonts/LICENSE.txt
/js/vendor/jquery/LICENSE.txt
/js/vendor/xregexp/LICENSE.txt
/css/vendor/select2/LICENSE-SELECT2.md
/css/login.css
/js/vendor/select2/i18n/lt.js
/js/vendor/select2/i18n/lv.js
/js/vendor/select2/i18n/mk.js
/img/gis/move_vertex_off.svg
/img/gis/move_vertex_on.svg
/js/vendor/select2/i18n/ms.js
/css/nav_sidebar.css
/js/nav_sidebar.js
/js/vendor/select2/i18n/nb.js
/js/vendor/select2/i18n/ne.js
/js/vendor/select2/i18n/nl.js
/js/vendor/select2/i18n/pl.js
/js/popup_response.js
/js/prepopulate.js
/js/prepopulate.min.js
/js/prepopulate_init.js
/js/vendor/select2/i18n/ps.js
/js/vendor/select2/i18n/pt.js
/js/vendor/select2/i18n/pt-BR.js
/fonts/README.txt
/img/README.txt
/js/admin/RelatedObjectLookups.js
/css/responsive.css
/css/responsive_rtl.css
/js/vendor/select2/i18n/ro.js
/fonts/Roboto-Bold-webfont.woff
/fonts/Roboto-Light-webfont.woff
/fonts/Roboto-Regular-webfont.woff
/css/rtl.css
/js/vendor/select2/i18n/ru.js
/img/search.svg
/css/vendor/select2/select2.css
/js/vendor/select2/select2.full.js
/js/vendor/select2/select2.full.min.js
/css/vendor/select2/select2.min.css
/js/SelectBox.js
/js/SelectFilter2.js
/img/selector-icons.svg
/js/vendor/select2/i18n/sk.js
/js/vendor/select2/i18n/sl.js
/img/sorting-icons.svg
/js/vendor/select2/i18n/sq.js
/js/vendor/select2/i18n/sr.js
/js/vendor/select2/i18n/sr-Cyrl.js
/js/vendor/select2/i18n/sv.js
/js/vendor/select2/i18n/th.js
/js/vendor/select2/i18n/tk.js
/img/tooltag-add.svg
/img/tooltag-arrowright.svg
/js/vendor/select2/i18n/tr.js
/js/vendor/select2/i18n/uk.js
/js/urlify.js
/js/vendor/select2/i18n/vi.js
/css/widgets.css
/js/vendor/xregexp/xregexp.js
/js/vendor/xregexp/xregexp.min.js
/js/vendor/select2/i18n/zh-CN.js
/js/vendor/select2/i18n/zh-TW.js
