<footer class="mt-auto">

  <hr class="featurette-divider">

  <a name="contacts"></a>

  <i class="fas fa-phone-square-alt fa-2x" style="margin-bottom: 0.5em"></i>
  <a href="tel:+79130073119" class="lead link" style="padding-left: 0.75em">+7-913-007-3118</a><br>
  <i class="fas fa-at fa-2x" style="margin-bottom: 0.5em"></i>
  <a href="mailto:vkromm@gmail.com" class="lead link" style="padding-left: 0.75em">vkromm@gmail.com</a><br>
  <a href="https://api.whatsapp.com/send?phone=79130073119">
    <i class="fab fa-whatsapp-square fa-2x" style="margin-right: 0.25em;"></i>
  </a>
  <a href="tg://resolve?domain=vkromm">
    <i class="fab fa-telegram-plane fa-2x" style="margin-right: 0.25em;"></i>
  </a>

  <i class="fab fa-linkedin fa-2x" style="margin-right: 0.25em"> </i>
  <a href="https://twitter.com/vkromm">
    <i class="fab fa-twitter-square fa-2x" style="margin-right: 0.25em;"></i>
  </a>
  <a href="https://github.com/abi83">
    <i class="fab fa-github-square fa-2x" style="margin-right: 0.25em;"></i>
  </a>

  <p class="lead" style="padding-top: 0.5em">Wladimir Kromm. 2018 - {% now "Y" %} &copy; </p>

  <!-- scrollup button -->
  <a id="back-to-top" href="#" class="btn btn-outline-success back-to-top" role="button"><i class="fas fa-chevron-up"></i></a>

  <!-- scrollup button script -->
  <script id="rendered-js" >
    $(document).ready(function () {
      $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
          $('#back-to-top').fadeIn();
        } else {
          $('#back-to-top').fadeOut();
        }
      });
      // scroll body to 0px on click
      $('#back-to-top').click(function () {
        $('body,html').animate({
          scrollTop: 0 },
        400);
        return false;
      });
    });
    //# sourceURL=pen.js
  </script>

</footer>