<footer class="mt-auto">

  <hr class="featurette-divider">

  <a name="contacts"></a>

  <i class="fas fa-phone-square-alt fa-2x" style="margin-bottom: 0.5em"></i>
  <a href="tel:+79130073119" class="lead" style="padding-left: 0.75em">+7-913-007-3118</a><br>
  <i class="fas fa-at fa-2x" style="margin-bottom: 0.5em">  </i><a href="mailto:vkromm@gmail.com" class="lead" style="padding-left: 0.75em">vkromm@gmail.com</a><br>
  <i class="fab fa-whatsapp-square fa-2x" style="margin-right: 0.25em"><a href="https://api.whatsapp.com/send?phone=<PHONE>">Прямая связь</a> </i>
  <i class="fab fa-telegram-plane fa-2x" style="margin-right: 0.25em"> </i>
  <i class="fab fa-linkedin fa-2x" style="margin-right: 0.25em"> </i>
  <i class="fab fa-twitter-square fa-2x" style="margin-right: 0.25em"> </i>
  <i class="fab fa-github-square fa-2x" style="margin-right: 0.25em"> </i>

  <p class="lead" style="padding-top: 0.5em">Wladimir Kromm. 2018 - {% now "Y" %} &copy; </p>
</footer>