{% extends "base.html" %}
{% load static i18n %}
{% block content %}

<!--!!https://getbootstrap.com/docs/5.0/examples/album/!!!-->

  <!--banner-->
  <div class="jumbotron" style="margin: 0 -1em" xmlns="http://www.w3.org/1999/html">
    <div class="overlay">
      <h1 class="display-5">Backend разработчик, дата аналитик</h1>
      <p class="lead">
        У меня математическое и финансовое высшее образование, я 15 лет проработал ТОП-менеджером
        в рекламном агентстве, а теперь я разрабатываю веб приложения, и сайты со сложной бизнес логикой.
      </p>
      <hr class="my-4">
      <p>Повысить эффективность ваших продаж, маркетинга и бизнеса через IT решения - моя работа.</p>
      <a class="btn btn-primary btn-lg btn-outline-success" href="#contact-form" role="button">
        Напишите мне
      </a>
    </div>
  </div>
  <hr class="featurette-divider">

  <!--personal-->
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="">Мне 38 лет. И я живу в Берлине</h2>
      <h3 class="text-muted">
        Мои принципы
      </h3>
      <div class="d-flex justify-content-center">
        <div class="list-group w-75">
          <div class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Делить сложную проблему на простые задачи</h5>
            </div>
            <p class="mb-auto text-justify">
              Разобраться в проблеме, найти подходящий инструмент для решения, выделить
              несколько простых задач, отбросить лишнее и получить результат. Это мое любимое.
            </p>
          </div>
          <div class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Результат - важен. Остальное вторично.</h5>
            </div>
            <p class="mb-auto text-justify">
              Чистый код, покрытие тестами и подробное проектирование - важны. Но экономический
              результат - важнее. Приложение, работающее с ошибками - лучше, чем хорошо
              задументированный и покрытый тестами прототип.
            </p>
          </div>
          <div class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Программист это не про код, а про смыслы.</h5>
            </div>
            <p class="mb-auto text-justify">
              Как проект монетизируется, показатели конверсии и дохода на одного пользователя
              - вокруг этого должна строиться разработка. А нужные библиотеки подключим быстро.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto py-3"
           width="500" height="500"
           src="/static/001.jpg"
           role="img">
    </div>
  </div>
  <hr class="featurette-divider">

  <!--  skils-->
  <div class="row">
    <div class="container">
       <h2 class="featurette-heading">Скилы</h2>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
          <div class="col">

              <div class="card border-success">
                <div class="card-header">
                  <i class="far fa-file-code fa-3x" style="margin-bottom: 0.5em"></i></br>
                  <p>Языки программирования</p>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Python</h4>
                  <p class="card-text">Django, REST, Flask</p>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <hr>
                  <h4 class="card-title">SQL</h4>
                  <p class="card-text">MySQL, PostgreSQL, SQLite</p>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <hr>
                  <h4 class="card-title">HTML</h4>
                  <p class="card-text">HTML5.0, CSS, Bootsrap</p>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <hr>
                  <h4 class="card-title">JavaScript</h4>
                  <p class="card-text">React.js, Node.js</p>
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>

                  <hr>
                </div>
              </div>

          </div>
          <div class="col">

              <div class="card border-success">
                <div class="card-header">
                  <i class="fas fa-tools fa-3x" style="margin-bottom: 0.5em"></i></br>
                  <p>Инструменты</p>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Version Control</h4>
                  <p class="card-text">Git, Bitbucket</p>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <hr>
                  <h4 class="card-title">Linux</h4>
                  <p class="card-text">Nginx, uWSGI, Bash, Docker</p>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <hr>
                  <h4 class="card-title">Network</h4>
                  <p class="card-text">TCP/IP, HTTP, UDP</p>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <hr>
                  <h4 class="card-title">Elasticsearch</h4>
                  <p class="card-text">Index, Mapping, Query and filter</p>
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>

                  <hr>
                </div>
              </div>

          </div>
          <div class="col">

              <div class="card border-success">
                <div class="card-header">
                  <i class="fas fa-book-open fa-3x" style="margin-bottom: 0.5em"></i></br>
                  <p>Библиотеки</p>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Test</h4>
                  <p class="card-text">Unittest, Pytest</p>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <hr>
                  <h4 class="card-title">Parse data</h4>
                  <p class="card-text">Requests, Beautifulsoup, Scrapy</p>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 80%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <hr>
                  <h4 class="card-title">Data analysis</h4>
                  <p class="card-text">NumPy , Matplotlib , Pandas</p>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <hr>
                </div>
              </div>

          </div>
        </div>
    </div>
  </div>
  <hr class="featurette-divider">

  <!--  projects-->
<!--  <div class="container">-->
<!--    <h2 class="featurette-heading">Мои проекты</h2>-->

<!--    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">-->
<!--      <div class="carousel-inner">-->

<!--        <div class="carousel-item active">-->
<!--          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">-->
<!--            <div class="col">-->
<!--              <div class="card shadow-sm">-->
<!--                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>-->
<!--                  <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>-->
<!--                </svg>-->
<!--                <div class="card-body">-->
<!--                  <p class="card-text">-->
<!--                    1. Пример проекта в карусели №1. Первый проект, который хочется показать.-->
<!--                  </p>-->
<!--                  <div class="d-flex justify-content-between align-items-center">-->
<!--                    <div class="btn-group">-->
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                    </div>-->
<!--                    <small class="text-muted">9 mins</small>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col">-->
<!--              <div class="card shadow-sm">-->
<!--                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->

<!--                <div class="card-body">-->
<!--                  <p class="card-text">-->
<!--                    2. Пример проекта в карусели №2. Второй проект, который хочется показать.-->
<!--                  </p>-->
<!--                  <div class="d-flex justify-content-between align-items-center">-->
<!--                    <div class="btn-group">-->
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                    </div>-->
<!--                    <small class="text-muted">9 mins</small>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col">-->
<!--              <div class="card shadow-sm">-->
<!--                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->

<!--                <div class="card-body">-->
<!--                  <p class="card-text">-->
<!--                    3. Пример проекта в карусели №3. Третий проект, который хочется показать. А еще об этом проекте можно очнеь многое рассказать - как я его делал,-->
<!--                    какие технологии использовал и что у меня в итоге получилось.-->
<!--                  </p>-->
<!--                  <div class="d-flex justify-content-between align-items-center">-->
<!--                    <div class="btn-group">-->
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                    </div>-->
<!--                    <small class="text-muted">9 mins</small>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--          </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="carousel-item">-->
<!--            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">-->
<!--              <div class="col">-->
<!--                <div class="card shadow-sm">-->
<!--                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>-->
<!--                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>-->
<!--                  </svg>-->
<!--                  <div class="card-body">-->
<!--                    <p class="card-text">-->
<!--                    4. Пример проекта в карусели №4. Четвертый проект, который хочется показать. А еще об этом проекте можно очнеь многое рассказать - как я его делал,-->
<!--                    какие технологии использовал и что у меня в итоге получилось.-->
<!--                    </p>-->
<!--                    <div class="d-flex justify-content-between align-items-center">-->
<!--                      <div class="btn-group">-->
<!--                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                      </div>-->
<!--                      <small class="text-muted">9 mins</small>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col">-->
<!--                <div class="card shadow-sm">-->
<!--                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->

<!--                  <div class="card-body">-->
<!--                    <p class="card-text">-->
<!--                      5. Пример проекта в карусели №5. Пятый проект, который хочется показать.-->
<!--                    </p>-->
<!--                    <div class="d-flex justify-content-between align-items-center">-->
<!--                      <div class="btn-group">-->
<!--                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                      </div>-->
<!--                      <small class="text-muted">9 mins</small>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col">-->
<!--                <div class="card shadow-sm">-->
<!--                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->

<!--                  <div class="card-body">-->
<!--                    <p class="card-text">-->
<!--                      6. Пример проекта в карусели №6. Шестой проект, который хочется показать.-->
<!--                    </p>-->
<!--                    <div class="d-flex justify-content-between align-items-center">-->
<!--                      <div class="btn-group">-->
<!--                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                      </div>-->
<!--                      <small class="text-muted">9 mins</small>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            </div>-->
<!--        </div>-->

<!--      </div>-->
<!--      <a class="carousel-control-prev" style="left: -13%;" href="#myCarousel" role="button" data-bs-slide="prev">-->
<!--        <span style="color: green; font-size: xx-large; font-weight: bold;"><</span>-->
<!--      </a>-->
<!--      <a class="carousel-control-next" style="right: -13%;" href="#myCarousel" role="button" data-bs-slide="next">-->
<!--        <span style="color: green; font-size: xx-large; font-weight: bold;">></span>-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->


  <!-- Javascript for custom slider-->
  <script src="/static/my/jquery-3.3.1.min.js"></script><!-- works without it -->
  <!--<script src="/static/my/jquery-migrate-3.0.0.min.js"></script>&lt;!&ndash; works without it &ndash;&gt;-->
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>&lt;!&ndash; works without it &ndash;&gt;-->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script><!-- important -->
  <script src="/static/my/jquery.backstretch.min.js"></script><!-- important -->
  <script src="/static/my/wow.min.js"></script><!-- important -->
  <script src="/static/my/scripts.js"></script><!-- important -->







  <h2 class="featurette-heading">Мои проекты</h2>

  <!-- projects carousel v.2 -->
  <div class="top-content">
    <div class="container-fluid">
      <div id="carousel-example" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner row w-100 mx-auto" role="listbox">
          {% for project in projects %}

            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3{% if forloop.first %} active{% endif %}">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c"/>
                  <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                </svg>
                <div class="card-body">
                  <p class="card-text">
                    {{ forloop.counter	}} {{ project.short_desc }}
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>

          {% endfor %}

        </div>
        <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <!--contact-form-->
  <a name="contact-form"></a>
  <div class="container">
   <h2 class="featurette-heading">Контакты</h2>
    <div class="row">

      {% load user_filters %}

      <form method="post" class="needs-validation" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">

          <div class="form-group col-sm-6">
            <label for="{{ form.first_name.id_for_label }}" class="form-control-label">
              {{ form.first_name.label }}
              {% if form.first_name.field.required  %}
                <span class="required">*</span>
              {% endif %}
            </label>
            {{ form.first_name|addclass:"form-control" }}
          </div>

          <div class="form-group col-sm-6">
            <label for="{{ form.last_name.id_for_label }}" class="form-control-label">
              {{ form.last_name.label }}
              {% if form.last_name.field.required  %}
                <span class="required">*</span>
              {% endif %}
            </label>
            {{ form.last_name|addclass:"form-control" }}
          </div>

          <div class="form-group col-12">
            <label for="{{ form.email.id_for_label }}" class="form-control-label">
              {{ form.email.label }}
              {% if form.email.field.required  %}
                <span class="required">*</span>
              {% endif %}
            </label>
            {{ form.email|addclass:"form-control" }}
            <small id="{{ form.last_name.id_for_label }}-help" class="form-text text-muted">
              {{ form.email.help_text|safe }}
            </small>
          </div>

          <div class="form-group col-12">
            <label for="{{ form.phone.id_for_label }}" class="form-control-label">
              {{ form.phone.label }}
              {% if form.phone.field.required  %}
                <span class="required">*</span>
              {% endif %}
            </label>
            {% if form.phone.errors %}
              {{ form.phone|addclass:"form-control is-invalid" }}
            {% else %}
              {{ form.phone|addclass:"form-control" }}
            {% endif %}
            <small id="{{ form.phone.id_for_label }}-help" class="form-text text-muted">
              {{ form.phone.help_text|safe }}
            </small>

            <div class="invalid-feedback">
              {{ form.phone.errors.as_text }}
            </div>
          </div>

          <div class="form-group col-12">
            <label for="{{ form.address.id_for_label }}" class="form-control-label">
              {{ form.address.label }}
              {% if form.address.field.required  %}
                <span class="required">*</span>
              {% endif %}
            </label>
            {{ form.address|addclass:"form-control" }}
          </div>

          <div class="form-group col-12">
            <label for="{{ form.message.id_for_label }}" class="form-control-label">
              {{ form.message.label }}
              {% if form.message.field.required  %}
                <span class="required">*</span>
              {% endif %}
            </label>
            {{ form.message|addclass:"form-control" }}
          </div>

      </div>
      <button class="btn btn-primary btn-lg btn-outline-success" type="submit" style="margin-top: 40px">
        Отправить
      </button>
      </form>

    </div>
  </div>


{% endblock %}