{% extends "base.html" %}
{% load static i18n %}
{% block title %} Главная страница {% endblock %}
{% block content %}

  <div class="jumbotron">
    <h1 class="display-4">Python разработчик, дата аналитик</h1>
    <p class="lead">
      У меня математическое и финансовое высшее образование, я 15 лет проработал ТОП-менеджером в рекламном агентстве, а теперь я
      разрабатываю веб приложения, и сайты со сложной бизнес логикой.
    </p>
    <hr class="my-4">
    <p>Повысить эффективность ваших продаж, маркетинга и бизнеса через IT решения - моя работа.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>


  <hr class="featurette-divider">

<div class="row featurette ">
  <div class="col-md-7">
    <h2 class="featurette-heading">Мне 38 лет. И я живу в Берлине</h2>
    <h3 class="text-muted" style="margin-bottom: 30px;">
      Мои принципы
    </h3>
    <div class="d-flex justify-content-center">
      <div class="list-group w-75">
        <div class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Брать сложное и делить на простое</h5>
          </div>
          <p class="mb-1">Это мое любимое, разбираться в чем-то и из клубка сложных и непонятных штук, делать список понятных и конкретных задач</p>
        </div>
        <div class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Брать сложное и делить на простое</h5>
          </div>
          <p class="mb-1">Это мое любимое, разбираться в чем-то и из клубка сложных и непонятных штук, делать список понятных и конкретных задач</p>
        </div>
        <div class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Брать сложное и делить на простое</h5>
          </div>
          <p class="mb-1">Это мое любимое, разбираться в чем-то и из клубка сложных и непонятных штук, делать список понятных и конкретных задач</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
         width="500" height="500"
         src="/static/001.jpg"
         role="img">
  </div>
</div>


{% endblock %}