{% load i18n %}
<header class="mb-auto">

  <!-- django messages -->
  {% if messages %}
    {% for message in messages %}

      <div class="alert alert-dismissible {{ message.extra_tags }} dj-message">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4 class="alert-heading">{{ message.level_tag }}!</h4>
      <p class="mb-0">
        {{ message|safe }}
      </p>
      </div>

    {% endfor %}
  {% endif %}

  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{% url 'index' %}"><span style="color: #4bbf73;">K</span>romm <span style="color: #4bbf73;">W</span>ladimir</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="btn btn-secondary" href="{% url 'price' %}">Услуги <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="btn btn-secondary" href="{% url 'index' %}#contacts">Контакты</a>
        </li>
        <li class="nav-item dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Приложения
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'ads-maker-index' %}">Ads maker</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">CV maker</a>
          </div>
        </li>
      </ul>

      <!--Language change form -->
      <div class="d-flex align-items-center" style="margin: 5px;">
        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
          <input name="next" type="hidden" value="{{ redirect_to }}">
          <div class="input-group">
            <select class="form-control form-control-sm" name="language">
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                    selected{% endif %}>
                  {{ language.name_local }} ({{ language.code }})
                </option>
              {% endfor %}
            </select>
            <button type="submit" class="btn btn-sm btn-secondary">
              Go
            </button>
          </div>
        </form>
      </div>

    </div>

  </nav>
  <hr class="featurette-divider">


</header>