{% load i18n %}
<header class="mb-auto">
  <div class="navbar d-flex justify-content-between ">
  <h3 class="mb-0">Kromm Wladimir</h3>
  <nav class="nav nav-masthead">
<!--    <a class="nav-link active" aria-current="page" href="#">Home</a>-->
    <a class="btn btn-secondary" aria-current="page" href="#">Home</a>
    <a class="btn btn-secondary" href="#">Features</a>
    <a class="btn btn-secondary" href="#">Contact</a>

    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown link
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>

  </nav>
  <div class="d-flex align-items-center">
    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
      <input name="next" type="hidden" value="{{ redirect_to }}">
      <div class="input-group">
        <select class="form-control form-control-sm" name="language">
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% get_language_info_list for LANGUAGES as languages %}
          {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                selected{% endif %}>
              {{ language.name_local }} ({{ language.code }})
            </option>
          {% endfor %}
        </select>
        <button type="submit" class="btn btn-secondary btn-sm">
          Go
        </button>
      </div>
    </form>
  </div>
  </div>
</header>